<!-- advantages -->
<div class="_customer-ad" >
    <div class="_customer-ad__item" >
        <img src="/system/ckeditor_assets/pictures/244263/content_adnvant-img.png"  />
        <div >
            <p class="_customer-ad__txt">
                Наши квалифицированные менеджеры максимально эффективно подберут оборудование которое
                требуется именно Вам с учетом всех тонкостей и возможностей
            </p>
        </div>
    </div>
    <div class="_customer-ad__item" >
        <img src="/system/ckeditor_assets/pictures/244263/content_adnvant-img.png" />
        <div >
            <p class="_customer-ad__txt">
                У нас нет бывших клиентов, база наших покупателей насчитывает несколько тысяч довольных
                партнеров которые обращаются к нам вновь и вновь с задачами разной сложности
            </p>
        </div>
    </div>
    <div class="_customer-ad__item" >
        <img src="/system/ckeditor_assets/pictures/244263/content_adnvant-img.png" />
        <div >
            <p class="_customer-ad__txt">
                Применяем индивидуальный подход к каждому клиенту
            </p>
        </div>
    </div>
    <div class="_customer-ad__item" >
        <img src="/system/ckeditor_assets/pictures/244263/content_adnvant-img.png" />
        <div>
            <p class="_customer-ad__txt">
                Оптовые цены
            </p>
        </div>
    </div>
    <div class="_customer-ad__item" >
        <img src="/system/ckeditor_assets/pictures/244263/content_adnvant-img.png" />
        <div >
            <p class="_customer-ad__txt">
                Уникальная система бонусов и скидок для постоянных покупателей
            </p>
        </div>
    </div>
    <div class="_customer-ad__item" >
        <img src="/system/ckeditor_assets/pictures/244263/content_adnvant-img.png" />
        <div>
            <p class="_customer-ad__txt">
                Бесплатная доставка в пределах города Новосибирска
            </p>
        </div>
    </div>
</div>
<!-- end advantages -->