<div class="_customer-page_wrapper">

    <div class="_customer_pat-top">

        <div class="_customer_pat-text_cont">
            <h2 class="_customer_pat-top__title">О компании</h2>

            <p>
                Главная специализация компании ООО "Лига Инструмента" - комплексные поставки оборудования и инструмента
                для
                нужд строительства и производства. Мы является дилерами и дистрибьюторами большинства заводов в России,
                имеем
                лучшие
                цены и выгодные условия поставок, налаженную систему доставки по всей России и СНГ. Имеем центральный
                склад
                в г.
                Москве и
                склад в г. Новосибирске.
            </p>
            <p>
                Благодаря расценкам на наши товары, нашими постоянными клиентами являются крупные предприятия, а также
                средний,
                малый
                бизнес и частные лица. Наши товары доступны всем категориям клиентов и партнеров, так как цены на товары
                у
                нас
                оптовые.
                Для постоянных клиентов мы разработали уникальную систему бонусов и скидок!
            </p>
            <p>
                Основными принципами нашей Копании являются высокий уровень профессионализма сотрудников,
                привлекательная
                ценовая политика, кратчайшие сроки доставки и гарантии.
            </p>
        </div>

        <img class="_customer_pat-top__pic" src="/system/ckeditor_assets/pictures/226195/content_par_top.png" alt="">
    </div>


    <div class="_customer-product_container">
        <h2 class="product-group__title">Наша продукция</h2>
        <div class="_customer-product_box">
            <a class="_customer-product_item" href="/catalog/k-4373716-teplovoye_oborudovaniye"
                title="Тепловое оборудование">
                <div class="_customer-product_img">
                    <img alt="Px" class="_customer-prod_img"
                        src="/system/ckeditor_assets/pictures/226440/content_product-group_1.png">
                </div>
                <div class="_customer-product_title">Тепловое оборудование</div>
            </a>
            <a class="_customer-product_item" href="/catalog/k-4367451-kompressory" title="Компрессоры">
                <div class="_customer-product_img">
                    <img alt="Px" class="_customer-prod_img"
                        src="/system/ckeditor_assets/pictures/226441/content_product-group_2.png">
                </div>
                <div class="_customer-product_title">Компрессоры</div>
            </a>
            <a class="_customer-product_item" href="/catalog/k-4366867-betonosmesiteli" title="Бетономешалки">
                <div class="_customer-product_img">
                    <img alt="Px" class="_customer-prod_img"
                        src="/system/ckeditor_assets/pictures/226442/content_product-group_3.png">
                </div>
                <div class="_customer-product_title">Бетономешалки</div>
            </a>
            <a class="_customer-product_item" href="/catalog/k-7150232-instrumenty" title="Инструменты">
                <div class="_customer-product_img">
                    <img alt="Px" class="_customer-prod_img"
                        src="/system/ckeditor_assets/pictures/226444/content_product-group_4.png">
                </div>
                <div class="_customer-product_title">Инструменты</div>
            </a>
            <a class="_customer-product_item" href="/catalog/k-4373850-snegouborochnyye_mashiny" title="Снегоуборщики">
                <div class="_customer-product_img">
                    <img alt="Px" class="_customer-prod_img"
                        src="/system/ckeditor_assets/pictures/226445/content_product-group_5.png">
                </div>
                <div class="_customer-product_title">Снегоуборщики</div>
            </a>
            <a class="_customer-product_item" href="/catalog/k-4373811-spetsodezhda" title="Спецодежда">
                <div class="_customer-product_img">
                    <img alt="Px" class="_customer-prod_img"
                        src="/system/ckeditor_assets/pictures/226446/content_product-group_6.png">
                </div>
                <div class="_customer-product_title">Спецодежда</div>
            </a>
        </div>

    </div>


    <div class="_customer_step">

        <h3 class="_customer_step__title">Этапы работ</h3>
        <div class="_customer_step__item">
            <img src="/system/ckeditor_assets/pictures/226196/content_step_1.png" />
            <div>
                <p class="_customer_step__txt">
                    Заявка
                </p>
            </div>
        </div>
        <div class="_customer_step__item">
            <img src="/system/ckeditor_assets/pictures/226197/content_step_2.png" />
            <div>
                <p class="_customer_step__txt">
                    Заказ
                </p>
            </div>
        </div>
        <div class="_customer_step__item">
            <img src="/system/ckeditor_assets/pictures/226198/content_step_3.png" />
            <div>
                <p class="_customer_step__txt">
                    Оплата
                </p>
            </div>
        </div>
        <div class="_customer_step__item">
            <img src="/system/ckeditor_assets/pictures/226199/content_step_4.png" />
            <div>
                <p class="_customer_step__txt">
                    Поставка
                </p>
            </div>
        </div>
        <div class="_customer_step_button__box">
            <div class="_customer_step_button apress-button ab-order js-apress-order-button js-orders-callback-link"
                data-agreements="Нажимая &quot;&lt;span class=&quot;translation_missing&quot;
                                         title=&quot;translation missing: mobile.apress.orders.hbs.callback.mobile.button&quot;&gt;Button&lt;/span&gt;&quot;,
                                         вы даете согласие на обработку персональных данных в соответствии с &lt;a
                                         href=&quot;https://www.pulscen.ru/about/privacy&quot; target=&quot;_blank&quot;
                                         class=&quot;aui-link&quot;&gt;политикой конфиденциальности&lt;/a&gt; и принимаете условия &lt;a href=&quot;
                                         https://www.pulscen.ru/about/terms&quot; target=&quot;_blank&quot; class=&quot;aui-link&quot;&gt;
                                         пользовательского соглашения&lt;/a&gt;." data-app-order-confirm="&lt;p&gt;&lt;span
                                         style=&quot;font-size:16px;&quot;&gt;Покупка товаров и отслеживание статуса заказа в мобильном
                                          приложении.&lt;/span&gt;&lt;/p&gt; &lt;div&gt; &lt;p&gt; В бесплатном приложении Пульса цен более 9 млн
                                          товаров и услуг, возможность быстро найти товар, связаться с поставщиком и оформить заказ.&lt;/p&gt;&lt;
                                          /div&gt; &lt;p&gt;  &lt;/p&gt;" data-button-type="order_callback"
                data-company="99230005" data-company-id="99230005" data-company-name="Лига инструмента"
                data-company-name-rest="" data-company-url="/catalog"
                data-params="{&quot;company_id&quot;:&quot;99230005&quot;}" data-statistics="1" data-type="callback"
                onclick="yaCounter45623991.reachGoal('megasite_about_callback'); return true;">
                Заказать
            </div>
        </div>
    </div>



    <div class="_customer-adva_body">


        <h3 class="_customer_adva_title">Наши преимущества</h3>

        <div class="_customer-adva_item">

            <img class="_customer-adva_img" src="/system/ckeditor_assets/pictures/226436/content_advant_1.png" />
            <p class="_customer-adva_txt">
                Наши квалифицированные менеджеры максимально эффективно подберут оборудование которое
                требуется именно Вам с учетом всех тонкостей и возможностей
            </p>
        </div>

        <div class="_customer-adva_item">
            <img class="_customer-adva_img" src="/system/ckeditor_assets/pictures/226436/content_advant_1.png" />
            <p class="_customer-adva_txt">
                У нас нет бывших клиентов, база наших покупателей насчитывает несколько тысяч довольных
                партнеров которые обращаются к нам вновь и вновь с задачами разной сложности
            </p>
        </div>

        <div class="_customer-adva_item">
            <img class="_customer-adva_img" src="/system/ckeditor_assets/pictures/226436/content_advant_1.png" />
            <p class="_customer-adva_txt">
                Применяем индивидуальный подход к каждому клиенту
            </p>
        </div>

        <div class="_customer-adva_item">
            <img class="_customer-adva_img" src="/system/ckeditor_assets/pictures/226436/content_advant_1.png" />
            <p class="_customer-adva_txt">
                Оптовые цены
            </p>
        </div>
        <div class="_customer-adva_item">
            <img class="_customer-adva_img" src="/system/ckeditor_assets/pictures/226436/content_advant_1.png" />
            <p class="_customer-adva_txt">
                Уникальная система бонусов и скидок для постоянных покупателей
            </p>
        </div>

        <div class="_customer-adva_item">
            <img class="_customer-adva_img" src="/system/ckeditor_assets/pictures/226436/content_advant_1.png" />
            <p class="_customer-adva_txt">
                Бесплатная доставка в пределах города Новосибирска
            </p>
        </div>
    </div>

    <section class="_customer-section _customer-gallery">
        <h2 class="_customer-sert_title">Сертификаты</h2>

        <ul class="_customer-gallery__list">

            <li>
                <div class="_customer-gallery__item">
                    <figure class="_customer-gallery__preview"><img alt=""
                            src="/system/ckeditor_assets/pictures/252000/content_210_original.jpg" /></figure>
                </div>

                <div class="_customer-gallery__text">Официальный дилер<br> торговой марки Вихрь</div>
            </li>
            <li>
                <div class="_customer-gallery__item">
                    <figure class="_customer-gallery__preview"><img alt=""
                            src="/system/ckeditor_assets/pictures/252002/content_208_original.jpg" /></figure>
                </div>

                <div class="_customer-gallery__text">Официальный дилер TOR</div>
            </li>
            <li>
                <div class="_customer-gallery__item">
                    <figure class="_customer-gallery__preview"><img alt=""
                            src="/system/ckeditor_assets/pictures/252003/content_207_original.jpg" /></figure>
                </div>

                <div class="_customer-gallery__text">Сертификат дилера торговой<br> марки VEKTOR</div>
            </li>
            <li>
                <div class="_customer-gallery__item">
                    <figure class="_customer-gallery__preview"><img alt=""
                            src="/system/ckeditor_assets/pictures/252001/content_195_original.jpg" /></figure>
                </div>

                <div class="_customer-gallery__text">Сертификат официального дилера торговой<br> марки Ресанта
                </div>
            </li>
        </ul>
        <a href="/licenses" class="_customer-sert_btn">
            ПРОСМОТРЕТЬ ВСЕ СЕРТИФИКАТЫ</a>
    </section>

    <section class="_customer-feedback_section">
        <div class="_customer-feedback_body">
            <div class="_customer-feedback_text_cont">
                <div class="_customer-feedback_title">
                    Остались вопросы?
                </div>
                <div class="_customer-feedback_text">
                    Свяжитесь с менеджерами компании
                </div>
            </div>
            <div class="_customer-feedback_links">
                <a href="tel:88006002648" class="_customer-feedback_link _customer-feedback_tel">
                    8 (800) 600-26-48
                </a>
                <a href="tel:+73832132648" class="_customer-feedback_link _customer-feedback_tel">
                    +7 (383) 213-26-48
                </a>
                <a href="mailto:2132648@MAIL.RU" class="_customer-feedback_link _customer-feedback_mail">
                    2132648@MAIL.RU
                </a>
            </div>
        </div>
    </section>
    <link href="/assets/custom_assets/megasite_pop-up.min.css" rel="stylesheet" />
    <div class="_customer-pop-up" id="_customer-gallery__pop-up">
        <div class="_customer-pop-up__overlay" onclick="popClose();"></div>

        <div class="_customer-pop-up__content-wrapper">
            <div class="_customer-pop-up__content"><img alt="" src="" /></div>
            <button class="_customer-pop-up__button _customer-pop-up__button_prev">Вперед</button><button
                class="_customer-pop-up__button _customer-pop-up__button_next">Назад</button><button
                class="_customer-pop-up__button _customer-pop-up__button_close" onclick="popClose();">Закрыть</button>
        </div>
    </div>


</div>
<script src="/assets/custom_assets/megasite_pop-up.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const galleryList = document.querySelector('._customer-gallery__list'),
            galleryImage = document.querySelectorAll('._customer-gallery__preview'),
            galleryPopUp = document.getElementById('_customer-gallery__pop-up'),
            galleryPopUpPrev = galleryPopUp.querySelector('._customer-pop-up__button_prev'),
            galleryPopUpNext = galleryPopUp.querySelector('._customer-pop-up__button_next'),
            galleryPopUpContent = galleryPopUp.querySelector('._customer-pop-up__content');
        let galleryImageCurrent = 0;

        function showImage() {
            galleryPopUpContent.innerHTML = galleryImage[galleryImageCurrent].innerHTML;
        }

        galleryList.onclick = function (e) {
            let array = [];
            for (let i = 0; i < galleryImage.length; i++) {
                array.push(galleryImage[i]);
            }
            if (e.target.classList.contains('_customer-gallery__preview')) {
                galleryImageCurrent = array.indexOf(e.target);
                showImage();
                popOpen('_customer-gallery__pop-up');
            }
        }

        galleryPopUpPrev.addEventListener('click', function () {
            if (galleryImageCurrent == 0) {
                galleryImageCurrent = galleryImage.length - 1;
            } else {
                galleryImageCurrent = (galleryImageCurrent - 1) % galleryImage.length;
            }
            showImage();
        });

        galleryPopUpNext.addEventListener('click', function () {
            galleryImageCurrent = (galleryImageCurrent + 1) % galleryImage.length;
            showImage();
        });
    });
</script>
<style>
    .pad .page-content .company-header,
    .pad .page-content .company-header-title {
        height: 0;
        font-size: 0;
        line-height: 0;
        margin: 0;
        opacity: 0;
    }
</style>
<style>
    ._customer-page_wrapper ._customer_pat-top {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        padding: 0;
        max-width: 1146px;
        width: 100%;
        margin: 0 auto 100px auto;
        font-family: Roboto, sans-serif;
    }

    ._customer_pat-text_cont {
        max-width: calc(100% - 553px);
    }

    ._customer-page_wrapper ._customer_pat-top p {
        max-width: 553px;
        width: 100%;
        margin: 10px 40px 0 0;
        font-size: 14px;
        line-height: 22px;
        color: #333333;
        font-weight: 400;
        text-align: left;
    }

    ._customer-page_wrapper ._customer_pat-top h2._customer_pat-top__title {
        max-width: 553px;
        width: 100%;
        margin: 15px 0 10px 0;
        color: #333333;
        font-size: 24px;
        font-weight: 700;
        line-height: 26px;
        text-align: left;
        text-transform: uppercase;
    }

    ._customer_pat-top__pic {
        width: 553px;
        height: 370px;
        margin: 0;
    }
</style>
<style>
    /* Категории*/
    ._customer-product_container {
        position: relative;
        max-width: 1144px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-family: "Roboto", sans-serif;
        flex-wrap: wrap;
    }

    ._customer-product_box {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-start;
    }

    ._customer-product_container ._customer-product_item {
        display: flex;
        max-width: 174px;
        width: calc(100% / 6 - 20px);
        margin: 0 0 20px 0;
        flex-direction: column;
        box-shadow: 0 4px 0 #D8D8D8;
        text-decoration: none;
    }

    ._customer-product_container ._customer-product_item:hover {
        box-shadow: 0 4px 0 #D8D8D8, 0 10px 10px rgba(0, 0, 0, 0.2);
    }

    ._customer-page_wrapper ._customer-product_container h2.product-group__title {
        display: block;
        background-color: #ffffff;
        color: #333333;
        font-weight: 700;
        text-align: left;
        margin: 0 30px 40px 0;
        font-size: 24px;
        line-height: 150%;
        text-transform: uppercase;
        max-width: 1144px;
        width: 100%;
    }

    ._customer-product_container ._customer-product_img {
        width: 100%;
        height: 150px;
        text-align: center;
    }

    ._customer-product_container ._customer-product_img img {
        max-width: 100%;
        margin: 0 auto;
    }

    ._customer-page_wrapper ._customer-product_container ._customer-product_title {
        min-height: 42px;
        margin: 11px 10px 10px 10px;
        color: #333333;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: center;
    }

    @media (max-width: 500px) {
        .product-group__title {
            text-align: center;
        }
    }
</style>

<style>
    /*  step */
    ._customer_step {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        color: #666;
        font-size: 15px;
        font-weight: 300;
        max-width: 1143px;
        width: 100%;
        margin: 80px auto 100px auto;
        font-family: "Roboto", sans-serif;

    }


    ._customer-page_wrapper ._customer_step ._customer_step__title {
        max-width: 1143px;
        width: 100%;
        color: #333333;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        text-align: left;
        text-transform: uppercase;
    }

    ._customer_step__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 170px;
        margin: 40px 126px 0 0;
    }

    ._customer_step__item:nth-of-type(4) {
        margin: 40px 0 0 0;
    }

    ._customer_step__item img {
        margin: 0 27px -30px 27px;
        z-index: 3;
    }

    ._customer_step__item div {
        width: 170px;
        height: 83px;
        margin: 0;
    }

    ._customer-page_wrapper ._customer_step__item p._customer_step__txt {
        color: #000000;
        font-size: 18px;
        font-weight: 400;


        line-height: 27px;
        text-align: center;
        padding: 40px 20px 16px 20px;
        margin: 0;
        border: 2px solid #D7D7D7;
        width: 130px;
        height: 27px;
        box-sizing: content-box
    }

    ._customer_step_button__box {
        max-width: 1143px;
        width: 100%;
        height: 40px;
        margin: 30px auto 0 auto;
        text-align: center;
    }

    ._customer_step_button__box div._customer_step_button.apress-button.ab-order {
        display: inline-block;
        width: 191px;
        height: 40px;
        min-width: 191px;
        min-height: 40px;
        border-radius: 0;
        background-color: #187d20;
        color: #ffffff !important;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto;
        text-decoration: none;
        border: 1px solid transparent;
        padding: 0;
        cursor: pointer;
        transition: 0.3s;
        box-sizing: border-box;
    }

    ._customer_step_button__box div._customer_step_button.apress-button.ab-order:hover {
        background-color: #ffffff;
        color: #1053fc !important;
        border: 1px solid #1053fc;
    }
</style>
<style>
    /*  advantages */

    ._customer-adva_body {
        display: flex;
        max-width: 1144px;
        width: 100%;
        margin: 0 auto 22px auto;
        align-items: flex-start;
        justify-content: space-between;
        color: #666;
        font-size: 15px;
        font-weight: 300;
        flex-wrap: wrap;
        font-family: "Roboto", sans-serif;

    }

    ._customer-page_wrapper ._customer-adva_body ._customer_adva_title {
        max-width: 1143px;
        width: 100%;
        margin: 0 0 85px 0;
        color: #333333;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        text-align: left;
        text-transform: uppercase;
        box-sizing: border-box;
    }

    ._customer-adva_item {
        position: relative;
        display: flex;
        max-width: 552px;
        width: 47%;
        margin: 0 0 70px 0;
        padding: 40px 20px 25px 20px;
        border: 2px solid #D7D7D7;
        box-sizing: border-box;
    }

    ._customer-page_wrapper ._customer-adva_item ._customer-adva_txt {
        margin: 0;
        color: #000000;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
    }

    ._customer-adva_img {
        position: absolute;
        left: 30px;
        top: -50px;
    }
</style>
<style type="text/css">
    ._customer-gallery__item {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        overflow: hidden;
    }

    ._customer-gallery__preview {
        width: 100%;
        height: auto;
    }

    ._customer-gallery ._customer-gallery__preview img {
        max-height: 500px;
        margin: 0 auto;
    }

    ._customer-gallery__text {
        width: 100%;
        color: #000000;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        padding: 10px;
        letter-spacing: -0.5px;
        box-sizing: border-box;
    }

    ._customer-pop-up__overlay {
        background: rgba(0, 0, 0, .8) !important;
    }

    ._customer-section._customer-gallery h2._customer-sert_title {
        margin: 0 0 40px 0;
        color: #333333;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        text-align: left;
        text-transform: uppercase;
    }

    ._customer-section._customer-gallery ul._customer-gallery__list {
        list-style-type: none !important;
        margin: 0 !important;
    }

    @media screen and (min-width: 768px) {

        ._customer-section._customer-gallery ul._customer-gallery__list {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            margin: 0;
        }

        ._customer-gallery__list>li {
            margin: 0 0 40px 0;
            border: 2px solid #d7d7d7;
            box-sizing: border-box;
        }

        ._customer-gallery__list>li:nth-child(2n + 1) {
            max-width: 220px;
            width: 19.5%;
        }

        ._customer-gallery__list>li:nth-child(2n) {
            max-width: 325px;
            width: 29.5%;
        }

        ._customer-gallery__item {
            transition: box-shadow .3s;
            cursor: zoom-in;
            height: 310px;
        }

        ._customer-gallery__item:hover {
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        }

        ._customer-gallery__preview {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 310px;
        }

        ._customer-gallery__preview:before,
        ._customer-gallery__preview:after {
            content: "";
            display: block;
            opacity: 0;
            transition: opacity .3s;
            position: absolute;
        }

        ._customer-gallery__preview:before {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .5);
            top: 0;
            left: 0;
        }

        ._customer-gallery__item:hover ._customer-gallery__preview:before {
            opacity: .4;
        }

        ._customer-gallery__preview:after {
            width: 26px;
            height: 26px;
            background: url(/system/ckeditor_assets/pictures/122996/content_slider_loupe.png) center / contain no-repeat;
            top: calc(50% - 13px);
            left: calc(50% - 13px);
        }

        ._customer-gallery__item:hover ._customer-gallery__preview:after {
            opacity: 1;
        }

        ._customer-gallery ._customer-gallery__preview img {
            width: 100%;
            max-height: 100%;
            object-fit: cover;
        }
    }

    @media screen and (max-width: 767px) {

        ._customer-gallery ._customer-pop-up {
            display: none !important;
        }

        ._customer-gallery__text {
            text-align: center;
        }
    }

    ._customer-sert_btn {
        display: flex;
        width: 314px;
        max-width: 100%;
        height: 40px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        color: #ffffff !important;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        background-color: #187d20;
        text-decoration: none;
        transition: 0.3s;
        border: 1px solid transparent;
        box-sizing: border-box;
    }

    ._customer-sert_btn:hover {
        background-color: #ffffff;
        color: #1053fc !important;
        border: 1px solid #1053fc;
    }
</style>
<style>
    ._customer-feedback_body {
        display: flex;
        width: 100%;
        margin: 100px 0 0 0;
        align-items: center;
        font-family: "Roboto", sans-serif;
        color: #333333;
        text-align: left;
    }

    ._customer-feedback_text_cont {
        max-width: 407px;
        width: 37%;
        min-height: 113px;
        padding: 20px 65px 20px 20px;
        border: 4px solid #1053fc;
        background-color: #ffffff;
        box-sizing: border-box;
    }

    ._customer-feedback_title {
        margin: 0 0 10px 0;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        text-transform: uppercase;
    }

    ._customer-feedback_text {
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: -0.3px;
    }

    ._customer-feedback_links {
        display: flex;
        width: 65%;
        min-height: 67px;
        align-items: center;
        justify-content: space-around;
        border: 2px solid #d7d7d7;
        border-left: 0;
        box-sizing: border-box;
    }

    ._customer-feedback_link {
        position: relative;
        padding: 0 0 0 35px;
        color: #333333 !important;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        text-decoration: none;
    }

    ._customer-feedback_link:hover {
        text-decoration: underline;
    }

    ._customer-feedback_link::before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: left center;
        content: "";
    }

    ._customer-feedback_tel::before {
        background-image: url(/system/ckeditor_assets/pictures/252050/content_shape.png);
    }

    ._customer-feedback_mail::before {
        background-image: url(/system/ckeditor_assets/pictures/252051/content_4-layers_1.png);
    }
</style>
<style>
    @media(max-width:1150px) {
        ._customer-page_wrapper ._customer-adva_body ._customer_adva_title {
            text-align: center;
        }

        .modern-skin .ccc-2-3 .sb-body,
        .modern-skin .ccc-2 .sb-body {
            padding: 0 !important;
        }

        ._customer-adva_item {
            min-height: 153px;
        }

        ._customer-feedback_text_cont {
            width: 35%;
            padding: 20px 30px 20px 20px;
        }

        ._customer_pat-top {
            flex-wrap: nowrap;
            max-width: 1146px;
            width: 100%;
            height: 100%;
        }

        ._customer_pat-top p {
            max-width: 1146px;
            width: 100%;
            margin: 10px 0 0 0;
        }

        ._customer_pat-top p {
            margin: 10px 0 0 0;
        }

        ._customer_pat-top p:last-of-type {
            margin: 10px 0 20px 0;
        }

        ._customer_pat-top p._customer_pat-top__title {
            margin: 0;
        }

        ._customer_pat-top__pic {
            max-width: 553px !important;
            max-height: 370px !important;
            min-width: 360px;
            width: 100%;
            min-height: 240px;
            height: 100%;
        }

        ._customer_step {
            justify-content: space-around;
            margin: 50px auto 50px auto;
        }

        ._customer_step__item {
            margin: 40px 20px 0 20px;
        }

        ._customer_step__item:nth-of-type(4) {
            margin: 40px 0 0 0;
        }
    }



    @media(max-width:999px) {

        body .company-page-content h1.cpc-header {
            opacity: 0;
            font-size: 0;
            line-height: 0;
            margin: 0;
        }

        ._customer-page_wrapper ._customer_pat-top {
            flex-direction: column;
            margin: 0 0 20px 0;
        }

        ._customer_pat-text_cont,
        ._customer-page_wrapper ._customer_pat-top p,
        ._customer-page_wrapper ._customer_pat-top h2._customer_pat-top__title {
            width: 100%;
            max-width: 100%;
        }

        ._customer-product_box {
            flex-wrap: wrap;
        }

        ._customer-product_container ._customer-product_item {
            max-width: 350px;
            width: calc(100% / 3 - 20px);
        }

        ._customer_step__item,
        ._customer_step__item:nth-of-type(4) {
            margin: 0 0 20px 0;
        }

        ._customer-feedback_title {
            font-size: 22px;
            line-height: 25px;
        }

        ._customer-feedback_text,
        ._customer-feedback_link {
            font-size: 16px;
        }

        ._customer-feedback_link {
            padding: 0 0 0 25px;
        }

        ._customer_pat-top__pic {
            display: none;
        }

    }

    @media (max-width: 840px) {
        ._customer-adva_body {
            flex-direction: column;
        }

        ._customer-adva_item {
            max-width: 100%;
            width: 100%;
            min-height: 0;
        }

        ._customer-gallery__item {
            height: auto;
        }

        ._customer-gallery__list>li:nth-child(2n),
        ._customer-gallery__list>li:nth-child(2n + 1) {
            width: 350px;
            max-width: 100%;
            height: auto;
            margin: 0 auto 20px auto;
            border: 0;
        }

        ._customer-gallery__list>li:nth-child(2n + 1) {
            width: 260px;
        }

        ._customer-feedback_body {
            flex-direction: column;
        }

        ._customer-feedback_text_cont {
            max-width: none;
            width: 100%;
            border: 0;
        }

        ._customer-feedback_links {
            width: 100%;
            max-width: 100%;
            border: 0;
        }

    }

    @media (max-width: 700px) {
        ._customer-product_container ._customer-product_item {
            width: calc(100% / 2 - 20px);
        }
    }

    @media (max-width: 550px) {
        ._customer-feedback_links {
            flex-direction: column;
        }

        ._customer-feedback_link {
            margin: 0 auto 30px auto;
        }

        ._customer-section._customer-gallery ul._customer-gallery__list {
            flex-direction: column;
        }
    }

    @media (max-width: 390px) {
        ._customer-product_container ._customer-product_item {
            width: 100%;
        }

        ._customer_step__item {
            margin: 40px 0 0 0;
        }


        ._customer_step {
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
        }
    }
</style>